@charset "ISO-8859-1";
body {
    background-color: #f8f9fa;
    color: #495057;
    font-family: 'Century Gothic', Futura, sans-serif;
}

.navbar {
    background-color: #343a40;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-toggler-icon {
    background-color: #fff;
}

.container {
    margin-top: 3rem;
}

.table {
    margin-top: 2rem;
}

.modal-header {
    background-color: #343a40;
    color: #fff;
    border-bottom: none;
}

.modal-content {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.modal-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    padding: 20px;
}

.form-label {
    font-weight: bold;
}

.form-control,
.form-select {
    width: 100%;
    margin-bottom: 1rem;
}

.btn-primary,
.btn-danger,
.btn-secondary {
    width: 100%;
}

.btn-sm {
    /* Add this class for smaller buttons */
    padding: 0.3rem 0.6rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.jumbotron {
    background-color: #343a40;
    color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
}

.lead {
    font-size: 1.25rem;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
.card {
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #343a40;
    color: #fff;
    border-bottom: none;
}

.card-body {
    padding: 2rem;
}